USE master
GO
CREATE DATABASE Sirket
GO
USE Sirket
GO

CREATE TABLE [dbo].[Calisan_Departman](
	[cdid] [int] IDENTITY(1,1) NOT NULL,
	[cid] [int] NULL,
	[did] [int] NULL,
	[pid] [int] NULL,
	[Baslangic_Tarihi] [date] NULL,
	[Ayrilis_Tarihi] [date] NULL,
	[Aktif] [bit] NULL,
 CONSTRAINT [PK_Calisan_Departman] PRIMARY KEY CLUSTERED 
(
	[cdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Calisanlar]    Script Date: 16.08.2018 00:25:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calisanlar](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[Calisan_ad] [nvarchar](50) NULL,
	[Calisan_Soyad] [nvarchar](50) NULL,
	[Cinsiyet] [nchar](1) NULL,
	[Dogum_Yeri] [int] NULL,
	[Dogum_Tarihi] [date] NULL,
	[Giris_Tarihi] [date] NULL,
	[Ayrilis_Tarihi] [date] NULL,
 CONSTRAINT [PK_Calisanlar] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departmanlar]    Script Date: 16.08.2018 00:25:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmanlar](
	[did] [int] IDENTITY(1,1) NOT NULL,
	[Departman_adi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Departmanlar] PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Maaslar]    Script Date: 16.08.2018 00:25:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maaslar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cdid] [int] NOT NULL,
	[Maas_Tarih] [date] NULL,
	[Maas_Tutar] [float] NULL,
	[Maas_Donem_Yıl] [smallint] NULL,
	[Maas_Donem_Ay] [smallint] NULL,
 CONSTRAINT [PK_Maaslar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pozisyon]    Script Date: 16.08.2018 00:25:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pozisyon](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[Pozisyon] [nvarchar](30) NULL,
 CONSTRAINT [PK_Pozisyon] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sehirler]    Script Date: 16.08.2018 00:25:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehirler](
	[id] [int] NOT NULL,
	[Sehir] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sehirler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Calisan_Departman] ON 

INSERT [dbo].[Calisan_Departman] ([cdid], [cid], [did], [pid], [Baslangic_Tarihi], [Ayrilis_Tarihi], [Aktif]) VALUES (1, 1, 6, 13, CAST(N'2017-08-08' AS Date), NULL, 1)
INSERT [dbo].[Calisan_Departman] ([cdid], [cid], [did], [pid], [Baslangic_Tarihi], [Ayrilis_Tarihi], [Aktif]) VALUES (2, 2, 1, 10, CAST(N'2018-02-01' AS Date), NULL, 1)
INSERT [dbo].[Calisan_Departman] ([cdid], [cid], [did], [pid], [Baslangic_Tarihi], [Ayrilis_Tarihi], [Aktif]) VALUES (3, 6, 7, 12, CAST(N'2010-07-01' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[Calisan_Departman] OFF
SET IDENTITY_INSERT [dbo].[Calisanlar] ON 

INSERT [dbo].[Calisanlar] ([cid], [Calisan_ad], [Calisan_Soyad], [Cinsiyet], [Dogum_Yeri], [Dogum_Tarihi], [Giris_Tarihi], [Ayrilis_Tarihi]) VALUES (1, N'Merve', N'Çalışkan', N'K', 3, CAST(N'1990-08-01' AS Date), CAST(N'2017-08-08' AS Date), NULL)
INSERT [dbo].[Calisanlar] ([cid], [Calisan_ad], [Calisan_Soyad], [Cinsiyet], [Dogum_Yeri], [Dogum_Tarihi], [Giris_Tarihi], [Ayrilis_Tarihi]) VALUES (2, N'Ahmet', N'Kara', N'E', 34, CAST(N'1987-03-01' AS Date), CAST(N'2018-02-01' AS Date), NULL)
INSERT [dbo].[Calisanlar] ([cid], [Calisan_ad], [Calisan_Soyad], [Cinsiyet], [Dogum_Yeri], [Dogum_Tarihi], [Giris_Tarihi], [Ayrilis_Tarihi]) VALUES (3, N'Zeynep', N'Bıçakçı', N'K', 42, CAST(N'1980-05-18' AS Date), CAST(N'2017-09-20' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Calisanlar] OFF
SET IDENTITY_INSERT [dbo].[Departmanlar] ON 

INSERT [dbo].[Departmanlar] ([did], [Departman_adi]) VALUES (1, N'Finans')
INSERT [dbo].[Departmanlar] ([did], [Departman_adi]) VALUES (2, N'Hukuk')
INSERT [dbo].[Departmanlar] ([did], [Departman_adi]) VALUES (3, N'İnsan Kaynakları')
SET IDENTITY_INSERT [dbo].[Departmanlar] OFF
SET IDENTITY_INSERT [dbo].[Maaslar] ON 

INSERT [dbo].[Maaslar] ([id], [cdid], [Maas_Tarih], [Maas_Tutar], [Maas_Donem_Yıl], [Maas_Donem_Ay]) VALUES (1, 1, CAST(N'2018-08-15' AS Date), 3600, 2018, 8)
INSERT [dbo].[Maaslar] ([id], [cdid], [Maas_Tarih], [Maas_Tutar], [Maas_Donem_Yıl], [Maas_Donem_Ay]) VALUES (2, 2, CAST(N'2018-08-15' AS Date), 4400, 2018, 8)
INSERT [dbo].[Maaslar] ([id], [cdid], [Maas_Tarih], [Maas_Tutar], [Maas_Donem_Yıl], [Maas_Donem_Ay]) VALUES (3, 3, CAST(N'2018-08-15' AS Date), 8300, 2018, 8)
GO
SET IDENTITY_INSERT [dbo].[Maaslar] OFF
SET IDENTITY_INSERT [dbo].[Pozisyon] ON 

INSERT [dbo].[Pozisyon] ([pid], [Pozisyon]) VALUES (1, N'Ürün Müdürü')
INSERT [dbo].[Pozisyon] ([pid], [Pozisyon]) VALUES (2, N'Ar-Ge Uzmanı')
INSERT [dbo].[Pozisyon] ([pid], [Pozisyon]) VALUES (3, N'Yazılım Mühendisi')
SET IDENTITY_INSERT [dbo].[Pozisyon] OFF
INSERT [dbo].[Sehirler] ([id], [Sehir]) VALUES (1, N'Adana')
INSERT [dbo].[Sehirler] ([id], [Sehir]) VALUES (2, N'Adıyaman')
INSERT [dbo].[Sehirler] ([id], [Sehir]) VALUES (3, N'Afyon')
ALTER TABLE [dbo].[Calisan_Departman]  WITH CHECK ADD  CONSTRAINT [FK_Calisan_Departman_Calisanlar] FOREIGN KEY([cid])
REFERENCES [dbo].[Calisanlar] ([cid])
GO
ALTER TABLE [dbo].[Calisan_Departman] CHECK CONSTRAINT [FK_Calisan_Departman_Calisanlar]
GO
ALTER TABLE [dbo].[Calisan_Departman]  WITH CHECK ADD  CONSTRAINT [FK_Calisan_Departman_Departmanlar] FOREIGN KEY([did])
REFERENCES [dbo].[Departmanlar] ([did])
GO
ALTER TABLE [dbo].[Calisan_Departman] CHECK CONSTRAINT [FK_Calisan_Departman_Departmanlar]
GO
ALTER TABLE [dbo].[Calisan_Departman]  WITH CHECK ADD  CONSTRAINT [FK_Calisan_Departman_Pozisyon] FOREIGN KEY([pid])
REFERENCES [dbo].[Pozisyon] ([pid])
GO
ALTER TABLE [dbo].[Calisan_Departman] CHECK CONSTRAINT [FK_Calisan_Departman_Pozisyon]
GO
ALTER TABLE [dbo].[Calisanlar]  WITH CHECK ADD  CONSTRAINT [FK_Calisanlar_Sehirler] FOREIGN KEY([Dogum_Yeri])
REFERENCES [dbo].[Sehirler] ([id])
GO
ALTER TABLE [dbo].[Calisanlar] CHECK CONSTRAINT [FK_Calisanlar_Sehirler]
GO
ALTER TABLE [dbo].[Maaslar]  WITH CHECK ADD  CONSTRAINT [FK_Maaslar_Calisan_Departman] FOREIGN KEY([cdid])
REFERENCES [dbo].[Calisan_Departman] ([cdid])
GO
ALTER TABLE [dbo].[Maaslar] CHECK CONSTRAINT [FK_Maaslar_Calisan_Departman]
GO
USE [master]
GO
